<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/static/js/script.js"></script>
  </head>

  <body>
    <%- include('partials/navbar', { loginUser: loginUser }) %>

    <!-- Main Content -->
    <section class="container-fluid">
      <div class="register-banner">
        <div class="container">
          <div class="row mb-5 pb-5">
            <div class="col-md-6 mt-5 mb-5">
              <div class="register-form">
                <div class="text-center">
                  <h2 class="primary-color">Login Here...</h2>
                </div>
                <form class="form" action="/loginUser" method="post">
                  <div class="mx-2">
                    <input
                      type="text"
                      class="form-control mt-3"
                      name="email"
                      placeholder="Enter the email"
                    />
                    <input
                      type="password"
                      class="form-control mt-3"
                      name="password"
                      placeholder="Enter the password"
                    />
                  </div>
                  <div class="text-right">
                    <button type="submit" class="main-btn mt-3 mx-4 mb-1">
                      Login
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Scripts for Alerts -->
    <% if (invalid) { %>
    <script>
      Swal.fire({
        title: "Something is wrong!",
        text: "Invalid email or password. Try with another..",
        icon: "error",
        confirmButtonText: "Ok!",
      });
    </script>
    <% } %> <% if (logout) { %>
    <script>
      Swal.fire({
        title: "You are successfully logged out!",
        icon: "success",
        confirmButtonText: "Ok!",
      });
    </script>
    <% } %> <% if (loginFirst) { %>
    <script>
      Swal.fire({
        title: "Please Login First!",
        text: "Please login to access the page.",
        icon: "info",
        confirmButtonText: "Ok!",
      });
    </script>
    <% } %> <% if (newRegister) { %>
    <script>
      Swal.fire({
        title: "Register Successful!",
        text: "Please login first using your password and email ID.",
        icon: "success",
        confirmButtonText: "Ok!",
      });
    </script>
    <% } %>

    <!-- Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz4fnFO9gq4vN2C5M17z8O03VcANZZm6O0jc2xDkBto8gE3K76K8gK9laz"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
      integrity="sha384-dV9cZ4LMeWXhu9FYLoPeyk5+2KT03yF6z7+6VGxj4xCST5lQ3v8cmOe4qF0bXlP"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
